<div id="itemshow">
<h2><%= @item.title %></h2>
<p><%= @item.condition %></p>
<p><%= @item.description %></p>
<p><%= @item.price_range %></p>

<%= link_to 'Add another item', new_item_path(@item), :class => "additem" %>
<%= link_to 'View Listed Items', sale_path(item.sale.id), :class => "view" %>
</div>


