<h1><%= @sale.suburb %></h1>

<div id="saleinfo">
<p>Start time: <%= @sale.start_time.strftime('%H: %M %P') %></p>
<p>Finish time: <%= @sale.finish_time.strftime('%H: %M %P') %></p>
<p>Date: <%= @sale.date.strftime('%d/%m/%y') %></p>
<p>Street Number: <%= @sale.street_number %></p>
<p>Street Name: <%= @sale.street_name %></p>
<p>Suburb: <%= @sale.suburb %></p>
<p>State: <%= @sale.state %></p>
<p>Post Code: <%= @sale.post_code %></p>
<p>Contact seller on: <%= @sale.phone_number %></p>
<p>Price range: <%= @sale.price_range %></p>
<p><%= link_to('Edit Sale', edit_sale_path(@sale)) %></p>
</div>

<div id="items">
	<ul>
		<% @sale.items.each do |item| %>
		<li><%= item.title %>, <%= item.description %>, <%= item.condition %>, <%= item.price_range %> <%= link_to('Edit', edit_item_path(item), :class => "edit" ) %> <%= link_to('Delete', item_delete_path(item), :class => "delete", :method => :delete ) %></li>
		<% end %>
	</ul>
</div>

<div id="links">
	<%= link_to('Add More Items', new_item_path(@sale), :class => "more" ) %>
	<%= link_to('Edit', edit_sale_path(@sale), :class => "edit" ) %>
	<%= link_to('Delete', sale_delete_path(@sale), :class => "delete" ) %>
	<%= link_to('Back', sales_path(@sale), :class => "back" ) %>
</div>


